:root {
    --build-bg-color: #42e8a6a6;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    overflow: hidden;
    /* background-color: #42e8a6a6; */
    user-select: none;
    cursor: auto;
}

input {
    /* font-family: Monaco, monospace; */
    padding: 0px 4px;
    font-size: 0.8em;
    border: 1.1px #333 solid;
    border-radius:  4px;
    /* margin: 0.2em; */
    /* width: 38px; */
}
.game-icon {
    border-radius: 30px;
    width: 350px;
    height: 350px;
  }
  .game-title {
    font-size: 30px;
    color: #3239b294;
    text-align: center;
  }
  .game-tile {
    background-color: #3239b294;
    height: 466px;
    width: 350px;
    color: #3239b294;
    border-radius: 30px;
    -webkit-animation: scale-down-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-down-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .game-tile:hover {
    text-decoration: none;
    -webkit-animation: scale-up-center 0. 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .game-link {
    height: 400px;
    width: 300px;
  }
  #mySearch {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 11px;
    border: 3px solid #ddd;
    border-radius: 30px;
  }
  .center {
    text-align: center; 
  } 
  .text-center {
    text-align: center;
  }